{% extends "basetable.html" %}

{% block pagename %}
    <h1>Toaster - Builds</h1>
{% endblock %}

{% block pagetable %}

    {% load projecttags %}
        <tr>
            <th>Outcome</th>
            <th>Started On</th>
            <th>Completed On</th>
            <th>Target</th>
            <th>Machine</th>
            <th>Time</th>
            <th>Errors</th>
            <th>Warnings</th>
            <th>Output</th>
            <th>Log</th>
            <th>Bitbake Version</th>
            <th>Build Name</th>
        </tr>
        {% for build in objects %}
        <tr class="data">
            <td><a href="{% url "configuration" build.id %}">{{build.get_outcome_display}}</a></td>
            <td>{{build.started_on}}</td>
            <td>{{build.completed_on}}</td>
            <td>{% for t in build.target_set.all %}{%if t.is_image %}<a href="{% url "tpackage" build.id t.id %}">{% endif %}{{t.target}}{% if t.is_image %}</a>{% endif %}<br/>{% endfor %}</td>
            <td>{{build.machine}}</td>
            <td>{% time_difference build.started_on build.completed_on %}</td>
            <td>{{build.errors_no}}:{% if  build.errors_no %}{% for error in logs %}{% if error.build == build %}{% if error.level == 2 %}<p>{{error.message}}</p>{% endif %}{% endif %}{% endfor %}{% else %}None{% endif %}</td>
            <td>{{build.warnings_no}}:{% if  build.warnings_no %}{% for warning in logs %}{% if warning.build == build %}{% if warning.level == 1 %}<p>{{warning.message}}</p>{% endif %}{% endif %}{% endfor %}{% else %}None{% endif %}</td>
            <td>{% if build.outcome == 0 %}{% for t in build.target_set.all %}{% if t.is_image %}{{build.image_fstypes}}{% endif %}{% endfor %}{% endif %}</td>
            <td>{{build.cooker_log_path}}</td>
            <td>{{build.bitbake_version}}</td>
            <td>{{build.build_name}}</td>
        </tr>

        {% endfor %}
{% endblock %}


